# LLM Configuration
LLM_MODEL = "anthropic/claude-3.5-sonnet"
LLM_TEMPERATURE=0.2
LLM_API_KEY = "YOUR_API_KEY"

# InfluxDB Configuration
INFLUXDB_URL = "http://localhost:8086"
INFLUXDB_TOKEN = "INFLUX_API_KEY"
INFLUXDB_ORG = "BIMIoT"
INFLUXDB_DATASET_SOURCE = "dataset/OSH_Measurements"

# GraphDB Configuration
GRAPHDB_URL="http://localhost:7200/repositories/smartHome"

# Neo4j Database Configuration
NEO4J_URI = "bolt://localhost:7687"
NEO4J_USERNAME = "neo4j user"
NEO4J_PASSWORD = "your password"

# Neo4j Database Configuration
NEO4J_URI = "bolt://localhost:7687"
NEO4J_USERNAME = "neo4j user"
NEO4J_PASSWORD = "neo4j user's password"

TTL_FILE_PATH = "dataset/openSmartHome_Donkers.ttl"

# graphdb (default) or neo4j
BACKEND_TYPE = "graphdb"