#
# LLM Configuration
#
# Current implementation uses OpenRouter as LLM api gateway
# Use the OpenRouter model's syntax to select the desired LLM model to use
LLM_MODEL = "anthropic/claude-3.5-sonnet"

# OpenRouter API key
LLM_API_KEY = "YOUR_API_KEY"

# The temperature effects the quality of the generated query
# Use temperature 0 to constrain the LLM query generation
LLM_TEMPERATURE=0.2

#
# InfluxDB Configuration
#
INFLUXDB_URL = "http://localhost:8086"
INFLUXDB_TOKEN = "INFLUX_API_KEY"
INFLUXDB_ORG = "BIMIoT"
INFLUXDB_DATASET_SOURCE = "dataset/OSH_Measurements"

#
# GraphDB Configuration
#
GRAPHDB_URL="http://localhost:7200/repositories/smartHome"

#
# Neo4j Database Configuration
#
NEO4J_URI = "bolt://localhost:7687"
NEO4J_USERNAME = "neo4j user"
NEO4J_PASSWORD = "neo4j user's password"

#
TTL_FILE_PATH = "dataset/openSmartHome_Donkers.ttl"

# Here you can specify which database backend you want to use.
# Possible values are:
#   graphdb (default)
#   neo4j
BACKEND_TYPE = "graphdb"